.container {
  display: flex;
  padding-left: 64px;
  position: relative;
}

.container main {
  padding: 32px;
  padding-right: 64px;
}

.sideBar {
  padding: 16px 0;
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  width: 20%;
  border-right: 1px solid #00000047;
}

.sideBar p {
  padding-left: 16px;
}

.tabs {
  list-style: none;
}

.tabs span {
  font-weight: bold;
}

.tabs li {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.active {
  color: var(--primary);
  background-color: var(--accent);
  border-left: 4px solid var(--primary);
}

.menu{
  display: none;
  width: fit-content;
  background-color: var(--accent);
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
}

.drawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.showOverlay {
  display: block;
}

.drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  background-color: var(--background);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 20px;
  transition: left 0.3s ease;
  height: 100%
}

.open {
  left: 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.drawer ul {
  list-style: none;
  
}


.drawer ul .active {
border-left: 4px solid var(--primary);
color: var(--primary);
}
.drawer ul li {
  margin: 16px 0;
  
  font-size: 18px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
    flex-direction: column;
  }
  .container main {
    padding: 16px 0;
  }
  .sideBar {
    padding: 8px 0;
    display: none;
  }
  .menu {
    display: block;
  }
}