.form {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  margin-top: 16px;
  color: var(--text)
}

.profile {
  flex: 1 calc(30% - 16px);
}

.dragDrop {
  height: 80%;
  width: 100%;
  border: 1px dashed var(--foreground);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.info {
  flex: 1 calc(70% - 16px);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

}
.entry {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  flex: 1 calc(50% - 8px);
}

.entry input, .entry select {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 1rem;
}

.entry div {
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 8px;
  border: 1px solid grey;
  padding: 1rem;
}

.entry div .icon {
  color: var(--primary);
}
.entry div input {
  border: none;
  padding: 0;
  width: 100%;
}
.entry div input:focus {
  outline: none;
}

.entry select option:first-child {
  color: var(--foreground);
}

.web {
  flex: 1 100%;
}

.btn {
  border-radius: 4px; 
  padding: 16px;
  border: none;
  background-color: var(--primary);
  color: var(--secondary)
}

