.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 16px 0;
  font-size: 0.9rem;
}

.table span {
  font-size: 0.9rem;
  margin-left: 8px;
}

.table svg {
  height: 0.9rem;
  width: 0.9rem;
}


.table thead tr {
  text-align: left;
  background-color: var(--background);
}

.table td, .table th {
  padding: 12px 15px;
  
}
.table td div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table tbody tr {
  border-bottom: 1px solid var(--background);

}

.table button{
  background-color: var(--primary);
  color: var(--secondary);
  padding: 8px;
  border-radius: 2px;
  border: none;
}

.activeStatus {
  color: green;
}

.expiredStatus {
  color: red;
}