.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  margin: 16px 0;
  font-size: 0.9rem;
}

.table span {
  font-size: 0.9rem;
  margin-left: 8px;
}

.table svg {
  height: 0.9rem;
  width: 0.9rem;
}

.table thead tr {
  text-align: left;
  background-color: var(--background);
}

.table td,
.table th {
  padding: 12px 15px;
}
.jobs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table tbody tr {
  border-bottom: 1px solid var(--background);
  color: var(--text);
}

.table tbody tr:focus {
  border: 1px solid var(--primary);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table button {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 8px;
  border-radius: 2px;
  border: none;
}

.activeStatus {
  color: green;
}

.expiredStatus {
  color: red;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-flow: row nowrap;
}

.dropdown {
  position: relative;
}

.dropdown .dropdownToggle {
  background-color: var(--background);
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--text);
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: var(--secondary);
  border: 1px solid var(--foreground);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  width: 200px;
  z-index: 55;
}

.dropdownMenu li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.dropdownMenu li:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.dropdownMenu li svg {
  height: 18px;
  width: 18px;
}

