.container {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
}


.left{
  padding: 16px 64px;
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
  height: 100%;
}

.logo {
  display: flex;
  gap: 8px;
}


.main {
  display: flex;

  
  flex-flow: column wrap;
  gap: 16px;
  height: 100%;
  width: 100%
}


.main a {
  color: var(--primary);
}

.main form {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}

.form input {
  background-color: transparent;
  border: grey 1px solid;
  border-radius: 8px;
  padding: 8px;
}
.form input:focus {
  outline: none;
}

.password {
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: grey 1px solid;
  border-radius: 8px;
}

.password input{
  border-radius: 0;
  width: 100%;
  border: none;
  padding: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form  button{
  display: flex;
  gap: 8px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  color: white;
}

.background {
  position: relative;
  height: 100%;
  display: flex;
  background-color: red;
  flex: 1 1 calc(50% - 8px)
}

.background img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
  }
  .left {
    padding: 16px;
  }

  .main {
    flex-direction: column;
  }

  .background {
    height: 200px;
  }
  
}