.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 16px;
  padding: 0 64px;
}

.icon {
  padding: 16px;
  background-color: var(--accent);
  border-radius: 100%;
  color: var(--primary);
}

.buttons {
  display: flex;
  gap: 8px
}

.link {
  border-radius: 4px; 
  padding: 16px;
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dashboard {
  background-color: var(--accent);
  color: var(--primary);
}

@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }
}